<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<head>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<%= javascript_include_tag('jquery.tree','jquery.treecheckbox','jquery.treecollapse','jquery.treeselect')%>
<%= stylesheet_link_tag('jquery.tree','jquery-ui')%>
<script type="text/javascript">
  $(document).ready(function() {
      $( "#accordion" ).accordion({
          'collapsible': true,
          'active': -1
      });
      $('.jquery').each(function() {
          eval($(this).html());
      });
      $('.button').button();
  });
</script>
</head>
<body>
<h1>Listing imports</h1>
	<%= form_tag importCsv_employees_path, :method => 'post', :multipart => true do %>
		<p>
			Select File: 
			<%= file_field_tag 'file' %>
			<%= submit_tag 'Upload data', :name => nil %>
		</p>
	<% end %>  
  <div id="example-3">
	<script class="jquery" lang="text/javascript">
      $('#example-3 div').tree({
          components: ['checkbox', 'collapse'],
          onCheck: {
              node: 'expand'
          },
          onUncheck: {
              node: 'collapse'
          }
      });
  </script>
  <div>
    <!--
  	<ul>   
  	  <% aFlag = 0 %> 		
			<% @employees.each do |aEmployee| %>
				<% aFlag +=1 %>									
				<% if aEmployee.report_to == 0 %>
					<li class="collapsed"><input type="checkbox"><span><b><%= aEmployee.first_name %> <%= aEmployee.last_name %>&nbsp;(<%= aEmployee.position_title %>)</b></span>							
					<% Employee.where(:report_to => aEmployee.position).each do | eachReportor| %>
						<ul>
							<li class="collapsed"><input type="checkbox"><span><b><%= eachReportor.first_name %> <%= eachReportor.last_name %>&nbsp;(<%= eachReportor.position_title %>)</b></span>
						  <% Employee.where(:report_to => eachReportor.position).each do | aEachReportor| %>
								<ul>
									<li class="collapsed"><input type="checkbox"><span><b><%= aEachReportor.first_name %> <%= aEachReportor.last_name %>&nbsp;(<%= aEachReportor.position_title %>)</b></span>
									<% Employee.where(:report_to => aEachReportor.position).each do | aaEachReportor| %>
										<ul>
											<li class="collapsed"><input type="checkbox"><span><b><%= aaEachReportor.first_name %> <%= aaEachReportor.last_name %>&nbsp;(<%= aaEachReportor.position_title %>)</b></span>																						
										</ul>	
									<% end %>
								</ul>
							<% end %>
						</ul>
					<% end %>							
				<% end %>						 
			<% end %>  		
    </ul>
    -->
    <% @employees.each do |aEmployee| %>
    	<%= link_to aEmployee.first_name, "#", :class => "tree", :id => "#{aEmployee.position}" %>
    <% end %>
    <label id="childs" style="color:#DD0000;font-size:12px;padding-left:5px;"></label>
    
    
  </div>
  </div>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function(){
    	$(".tree").click(function(event){      
      var targetId = event.target.id;
			$.post('/employees/get_child', 			
			{position:event.target.id},
			function(data) {

			}, 'script'
		);

    });    		
    });
</script>
